.custom-card {
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem lightgray;
  width: 100%;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.card-img-top {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-height: 21.87rem;
  background-color: var(--bgColor);
}

.btn {
  border-radius: 50%;
}

.btn-light {
  border-color: black;
  background-color: white;
}